a{
  text-decoration:none ;
  color:#000000;
}
.header-main{
  margin: 7px;
  display: flex;
  justify-content:space-around;
  align-items:center;
  
}
.search-container{
  width: 15%;
 display: flex;
 flex-direction: column;
 justify-content: center;
 
  
}
.menu-container{
  width: 10%;
}
.logo-container{
  width: 40%;
}
.search-container{
  width: 10%;
}
.logo-container img{
  width: 100%;
}

.menu-container-long{
  display: none;
}
.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-container{
 width: 93%;
 height: 65vh;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-container-image{
  display: flex;
  
}
.home-container-image img{
  width: 100%;
  
}

@media (min-width: 768px){
  .header-main{
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid;

  }.logo-container{
  width: 19%;
}.menu-container{
  display: none;
}.menu-container-long{
  display: flex;
  width: 15%;
  justify-content:space-around;
  align-items: center;

}.home-container{
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-around;
}
.home-container-image{
  display: flex;
  width: 30%;
}
.home-container-image img{
  width: 100%;
  
}
}
  

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
