@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
a{
  text-decoration:none ;
 
}


.container{
  display: flex;
 flex-direction: column;
 justify-content: center;
align-items: center;
}
.containers{
 display: flex;
  flex-direction: column;
 align-items: center;
 border: 1px solid black;
 width: 100%;
}
main{
 width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row; 
}
main h1{
  font-size: 10px;
}
span{
  font-size: 35px;
  font-style: inherit;
  font-family:cursive
}

/* ==========================Styles Menu===========================*/
.header-main{
 width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
 
}
.menu-container{
  width: 10%;
}
.logo-container{
  width: 40%;
}
.search-container{
  width: 25%;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 
  
}
.search-container{
  width: 10%;
  font-family:cursive
}


/* ==========================Styles Form===========================*/
.formContainer{
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  border: 1px solid
}
form{
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}
.login-container{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}


.logo-container img{
  width: 100%;
}

.menu-container-long{
  display: none;
}
.main-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.home-container{
 display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
}
.home-container span{
  text-align: center;
  width: 100%;
  padding: 3px;
}
.one{
  width: 27.3%;
  margin: 3px;
  object-fit: cover;
}
.services{
  display: flex;
}
.home_image_container img{
  width: 100%;
  height: 20vh;
  border-radius : 10px;
}




.home-container-image img{
  width: 100%;
  
}
.rides{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}.ride{
  width: 90%;
  height: 200px;
  border:1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  border-radius: 20px;
}
.btn{
  width: 73%;
  border-radius: 10px;
  height: 30px;
  margin-bottom:53px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color:#fff;
  border-radius: 40px;
  font-size:25px;
  font-family:cursive;
  height: 50px;
}


@media (min-width: 768px){
  .header-main{
     width: 100%;
     flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
   
   color: rgb(24, 5, 5);
   font-size: 15px;
   border-radius: 20px
  }

.home-container{
  width: 60%;
 
}.home-container span{
  width: 100%;
  
}
.home_image_container{
  margin: 20px;
 
}.home_image_container img{
  width: 100%;
  border-radius: 20px
}
.btn{
  width: 26%;
  background-color: black;
  color:#fff;
  border-radius: 40px;
  height:50px ;
}


  

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
}